*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.container.first-section {
    display: flex;
    padding: 100px 0px;
}

.s1-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.s1-right-side {
    width: 50%;
    text-align: center;
}
.s1-right-side img {
    width: 347.408px;
}

img {
    width: 100%;
    height: auto;
}

.s1-left-side h1 {
    color: #333;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    border-left: 5px solid #FF5959;
    padding-left: 15px;
}

.s1-left-side h1 span {
    color: #FFAD5A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Yeseva One;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}
p.global-p {
    color: #3E3E3E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
button {
    width: fit-content;
    background: #FF5959;
    padding: 15px 15px;
    border: #FF5959;
    border-radius: 5px;
}

button a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

/* Second Section */
.global-h1 {
    color: #333;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
}

.global-h1 span {
    color: #FFAD5A;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}
.s2-card{
    display: flex;
    gap: 30px;
    padding: 70px 0px;
}
.card-style{
    padding: 30px 30px;
    text-align: left;
    border-radius:26px;
}
.card-style img{
    width: 126px;
    height: 126px;
}
.card-style h3{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 40px;
}

.card-1{
    width: 33.33%;
    background-color:#4F9DA61A ;
}
.card-2{
    width: 33.33%;
    background-color: rgba(255, 89, 89, 0.10);
}
.card-3{
    width: 33.33%;
    background-color: #FFF4D6;
}
/* Third Section */
.third-section-content{
    background-image: url(./Images/person/Group\ 57403.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    padding: 70px 0px;
    background-size: 150px 150px;
}
.third-content{
    display: flex;
    gap: 100px;
    
}
.t3-left{
    width: 40%;
    position: relative;
}
.t3-left.image-1 img{
    width: 400px;
height: 400px;
}
img.shape-1 {
    position: absolute;
    z-index: -1;
    right: 364px;
    width: 227px;
    height: 227px;
    top: 72px;
}
.t3-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.t3-right h2 {
    color: #333;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Fourth Section */
.fourth-section-content{
    background-image: url(./Images/person/Group\ 57403.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    padding: 70px 0px;
    background-size: 150px 150px;
}
.fourth-content {
    display: flex;
    gap: 100px;
    overflow: hidden;
}
.t4-left{
    width: 40%;
    position: relative;
}
.t4-left.image-2 img{
    width: 400px;
height: 400px;
}
img.shape-2 {
    position: absolute;
    z-index: -1;
    left: 350px;
    width: 227px;
    height: 227px;
    top: 334px;
}
.t4-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.t4-right h2 {
    color: #333;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Fifth Section */
.fifth-section{
    padding: 70px 0px;
}
.fifth-content{
    display: flex;
    gap: 100px;
    padding-top: 50px;
}
.t5-left{
    width: 50%;
    position: relative;
    text-align: center;
    
}
img.image-5 {
    width: 229px;
    height: 459px;
}
img.shape-5 {
    position: absolute;
    z-index: -1;
    right: 299px;
    width: 147px;
    height: 147px;
    top: -30px;
}
img.shape-6 {
    position: absolute;
    z-index: -1;
    right: 350px;
    width: 77px;
    height: 77px;
    bottom: 1px;
}
img.shape-7 {
    position: absolute;
    z-index: -1;
    left: 350px;
    width: 77px;
    height: 77px;
    bottom: 106px;
}
.t5-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    text-align: center;
}
.t5-right h1 {
    text-align: left;
    line-height: 48px;
    font-weight: 700;
}
.t5-right p {
    text-align: left;
}
/* Footer */
footer{
    padding: 40px 0px;
    text-align: center;
    background: #0B0D17;
    color: #FFF;
}
footer h1 {
    color: #fff !important;
}
/* Responsive css */
@media (max-width: 768px) {
    .first-section {
        padding: 50px 20px !important;
    }
    .s1-left-side h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .s1-left-side h1 span {
        font-size: 40px;
        line-height: 48px;
    }
    .s1-right-side {
        text-align: right;
        line-height: 20px;
    }
    .s1-right-side img {
        width: 300.408px;
    }
    /* second section */
    h1.global-h1 {
        font-size: 40px;
    }
    .global-h1 span {
        font-size: 48px;
    }
    .s2-card {
        padding: 50px 20px !important;
        gap: 20px;
    }
    /* Third Section */
    section.third-section-content {
        padding: 50px 20px;
    }
    .third-content {
        gap: 20px;
    }
    .t3-left {
        width: 50%;
    }
    img.shape-1 {
        left: -30px;
    }
    .t3-right{
        width: 50%;
    }
    .fourth-content {
        padding: 50px 20px;
        gap: 20px;
    }
    .t4-left {
        width: 50%;
    }
    .t4-right{
        width: 50%;
    }
    /* Fifth Section */
    .fifth-section {
        padding: 20px 20px;
    }
    .fifth-content {
        padding: 20px 0px;
        gap: 0px;
    }
    img.shape-5 {
        left: 43px;
        top: -20px;
        width: 100px;
        height: 100px;
    }
    img.shape-6 {
        left: 56px;
    }
    img.shape-7 {
        left: 236px;
    }
    footer h1 {
        font-size: 32px !important;
    }

  }
  @media (max-width:600px) {
    .container.first-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .s1-left-side {
        width: 100%;
    }
    .s1-right-side {
        width: 100%;
        text-align: center;
    }
    .s2-card {
        flex-wrap: wrap;
    }
    
    .card-style {
        width: 100%;
    }
    
    .t3-left {
        width: 100%;
    }
    
    .t3-right {
        width: 100%;
        align-items: center;
    }
    
    .third-content {
        flex-wrap: wrap;
        text-align: center;
    }
    
    img.image-1 {
        width: 80%;
    }
    .fourth-content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .t4-right {
        width: 100%;
        align-items: center;
    }
    
    .t4-left {
        width: 100%;
    }
    img.image-2 {
        width: 80%;
    }
    section.fifth-section h1 {
        font-size: 38px;
        line-height: 40px;
    }
    section.fifth-section span {
        font-size: 38px;
        line-height: 40px;
    }
    .fifth-content {
        flex-wrap: wrap;
    }
    
    .t5-left {
        width: 100%;
    }
    
    .t5-right {
        width: 100%;
        align-items: center;
    }
    .t5-right p {
        text-align: center;
    }
  }